/* General style */
*{
    box-sizing: border-box;
    margin: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:#02b7c521;
}

/* Header style */
header{
    background-color: white;  
}

.logo{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.logo_text{
    font-size: 30px;
    font-weight: 900;  
    display: inline-block;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

/* Main style */

main{
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    background-color:white;
    border-radius: 10px;
}

/* Button section style */
.comand{
    height: 60px;
    border-bottom: 2px solid #02b7c521;
}

.button{
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    display: inline-block;
    height: 30px;
}

.add-task{
    background-color: turquoise;
    color: white;
    margin-left: 30px;
    display: inline-block;
    width: 80px;
    margin-top: 20px;
}

.add-section{
    color: lightgray;
    border: 1px solid lightgray;
    width: 100px;
    display: inline-block;
}

/* Task section style */
.tasks{
    margin-top: 25px;
    margin-left: 50px;
}

h3{
    margin-bottom: 10px;
}

p::before{
    content: ' \2713';
    font-size: 10px;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 45%;
}

p.crossed::before{
    content: ' \2717';
    color: red;
    border: 1px solid red;
    border-radius: 45%;
}

.mark{
    border-radius: 10px;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.editorial{
    background-color: turquoise;
}

.goals{
    background-color: plum;
}

.recruiting{
   background-color: limegreen;
}

.mobile{
    background-color: sandybrown;
}

.website{
    background-color: palevioletred;
}

.sales{
    background-color: greenyellow;
}

p{
    margin-bottom: 15px;
    font-weight: 300;
}



